fastapi 
uvicorn 
python-multipart 
openai 
langchain 
langchain-openai 
langchain-pinecone 
langchain-community 
pinecone-client 
python-dotenv 
moviepy 
pydub 
psycopg-pool 
psycopg[binary] 
langgraph 
langchain-classic 
langgraph-checkpoint-postgres 
openai-whisper
whisper 
torch 
python-multipart
yt-dlp
ffmpeg-python